<a href="https://colab.research.google.com/github/jeekyung/ESAA/blob/main/wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [26]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [42]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(data_url,header=None)
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [43]:
wine.drop([0,3,6,8,10,12,13],axis=1,inplace=True)
wine.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [44]:
wine.columns=["alcohol","malic_acid","alcalinity_of_ash","magnesium","flavanoids","proanthocyanins","hue"]
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [45]:
wine.loc[:2,"alcohol"] = np.NaN
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [46]:
wine.loc[2:3,"magnesium"] = np.NaN
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,NaN,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [47]:
wine["alcohol"].fillna(10,inplace=True)
wine["magnesium"].fillna(100,inplace=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 9. Count the number of missing values

In [48]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [49]:
rand_num=np.random.randint(0,11,10)
print(rand_num)

[ 1  0  0  9  2  6  3  1  3 10]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [52]:
wine.iloc[rand_num,:] = np.NaN
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0        NaN         NaN                NaN        NaN         NaN
1        NaN         NaN                NaN        NaN         NaN
2        NaN         NaN                NaN        NaN         NaN
3        NaN         NaN                NaN        NaN         NaN
4      13.24        2.59               21.0      118.0        2.69
..       ...         ...                ...        ...         ...
173    13.71        5.65               20.5       95.0        0.61
174    13.40        3.91               23.0      102.0        0.75
175    13.27        4.28               20.0      120.0        0.69
176    13.17        2.59               20.0      120.0        0.68
177    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0                NaN   NaN
1                NaN   NaN
2                NaN   NaN
3                NaN   NaN
4               1.82  1.04
..               ...   ...
173             1.06  0.64
174             1.41  0.70
175             1.35  0.59
176             1.46  0.60
177             1.35  0.61

[178 rows x 7 columns]

### Step 12.  How many missing values do we have?

In [54]:
wine.isna().sum()

alcohol              7
malic_acid           7
alcalinity_of_ash    7
magnesium            7
flavanoids           7
proanthocyanins      7
hue                  7
dtype: int64

### Step 13. Delete the rows that contain missing values

In [57]:
wine.drop(rand_num,axis=0,inplace = True)
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
4      13.24        2.59               21.0      118.0        2.69
5      14.20        1.76               15.2      112.0        3.39
7      14.06        2.15               17.6      121.0        2.51
8      14.83        1.64               14.0       97.0        2.98
11     14.12        1.48               16.8       95.0        2.43
..       ...         ...                ...        ...         ...
173    13.71        5.65               20.5       95.0        0.61
174    13.40        3.91               23.0      102.0        0.75
175    13.27        4.28               20.0      120.0        0.69
176    13.17        2.59               20.0      120.0        0.68
177    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
4               1.82  1.04
5               1.97  1.05
7               1.25  1.06
8               1.98  1.08
11              1.57  1.17
..               ...   ...
173             1.06  0.64
174             1.41  0.70
175             1.35  0.59
176             1.46  0.60
177             1.35  0.61

[171 rows x 7 columns]

### Step 14. Print only the non-null values in alcohol

In [62]:
wine.alcohol[wine.alcohol!=np.NaN]

4      13.24
5      14.20
7      14.06
8      14.83
11     14.12
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 171, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [63]:
wine.reset_index(drop=True,inplace=True)
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      13.24        2.59               21.0      118.0        2.69
1      14.20        1.76               15.2      112.0        3.39
2      14.06        2.15               17.6      121.0        2.51
3      14.83        1.64               14.0       97.0        2.98
4      14.12        1.48               16.8       95.0        2.43
..       ...         ...                ...        ...         ...
166    13.71        5.65               20.5       95.0        0.61
167    13.40        3.91               23.0      102.0        0.75
168    13.27        4.28               20.0      120.0        0.69
169    13.17        2.59               20.0      120.0        0.68
170    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0               1.82  1.04
1               1.97  1.05
2               1.25  1.06
3               1.98  1.08
4               1.57  1.17
..               ...   ...
166             1.06  0.64
167             1.41  0.70
168             1.35  0.59
169             1.46  0.60
170             1.35  0.61

[171 rows x 7 columns]

### BONUS: Create your own question and answer it.

In [65]:
# print column "flavanoids" whose value is less than 1
wine[wine.flavanoids<1]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
52,12.37,0.94,10.6,88.0,0.57,0.42,1.05
89,11.81,2.12,21.5,134.0,0.99,1.56,0.95
127,12.51,1.24,17.5,85.0,0.58,1.25,0.75
128,12.60,2.46,18.5,94.0,0.66,0.94,0.73
129,12.25,4.72,21.0,89.0,0.47,0.80,0.75
130,12.53,5.51,25.0,96.0,0.60,1.10,0.82
131,13.49,3.59,19.5,88.0,0.48,0.88,0.81
132,12.84,2.96,24.0,101.0,0.60,0.81,0.89
133,12.93,2.81,21.0,96.0,0.50,0.75,0.77
134,13.36,2.56,20.0,89.0,0.50,0.64,0.70
135,13.52,3.17,23.5,97.0,0.52,0.55,0.89
136,13.62,4.95,20.0,92.0,0.80,1.02,0.91
137,12.25,3.88,18.5,112.0,0.78,1.14,0.65
138,13.16,3.57,21.0,102.0,0.55,1.30,0.60
139,13.88,5.04,20.0,80.0,0.34,0.68,0.58
140,12.87,4.61,21.5,86.0,0.65,0.86,0.54
141,13.32,3.24,21.5,92.0,0.76,1.25,0.55
146,13.23,3.30,18.5,98.0,0.83,1.87,0.56
147,12.58,1.29,20.0,103.0,0.58,1.40,0.58
148,13.17,5.19,22.0,93.0,0.63,1.55,0.60
149,13.84,4.12,19.5,89.0,0.83,1.56,0.57
150,12.45,3.03,27.0,97.0,0.58,1.14,0.67
153,12.36,3.83,21.0,88.0,0.92,1.04,0.56
154,13.69,3.26,20.0,107.0,0.56,0.80,0.96
155,12.85,3.27,22.0,106.0,0.60,0.96,0.87
156,12.96,3.45,18.5,106.0,0.70,0.94,0.68
157,13.78,2.76,22.0,90.0,0.68,1.03,0.70
158,13.73,4.36,22.5,88.0,0.47,1.15,0.78
159,13.45,3.70,23.0,111.0,0.92,1.46,0.85
160,12.82,3.37,19.5,88.0,0.66,0.97,0.72
161,13.58,2.58,24.5,105.0,0.84,1.54,0.74
162,13.40,4.60,25.0,112.0,0.96,1.11,0.67
163,12.20,3.03,19.0,96.0,0.49,0.73,0.66
164,12.77,2.39,19.5,86.0,0.51,0.64,0.57
165,14.16,2.51,20.0,91.0,0.70,1.24,0.62
166,13.71,5.65,20.5,95.0,0.61,1.06,0.64
167,13.40,3.91,23.0,102.0,0.75,1.41,0.70
168,13.27,4.28,20.0,120.0,0.69,1.35,0.59
169,13.17,2.59,20.0,120.0,0.68,1.46,0.60
170,14.13,4.10,24.5,96.0,0.76,1.35,0.61